/*
common
***************************/

body{
   
     background-image: url("../img/CherryBlossoms.jpg");

}


body{
    height:100%;
}
.content{
    background-color:rgb(252, 137, 196);
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    opacity: 88%; 
}
.logodiv {
    display: flex;
    justify-content:left;
    align-items: center;
}
.logodiv img{
    width:10%;
    height:10%;
}
.logo2 img{ 
    padding-right: 15px;
    border-radius: 50%;
    height: 15%;
    width: 15%;
    
}
.logo2 {
    display:flex;
    justify-content:left ;

}
 



/*
Post
***************************/

.post_form{
    padding:20px 40px;
    border-bottom: 1px solid #ccc;
}
.post_form input{
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom:10px;

}
.post_form textarea{
    width:70%;
    padding:10px;
    border: 1px solid #ccc;
}
.posts ul{
    padding:0px
}
.posts li {
    display: flex;
    border-bottom:1px solid #ccc;
    padding: 17px;
    position:relative
}

.posts li .logo {
    flex-basis: 15%;
}
.posts li .logo img {
    width: 60%; 
    border-radius: 50%;
}
.posts li .name_body {
    flex-basis: 85%;
}

.posts li .name_body .name{
    font-weight:bold;

}
.posts li .name_body .datetime{
    color:blue;
}

input[type="submit"] {
    width: 5vw;
    border: 2px solid darkgray;
    border-radius: 15px;
   
}
input[type="file"] {
    width: 14vw;
}


@media screen and  (max-width: 500px) {
    .post li .name_body .name{
        font-size:20px;
    }
}

.posts li .menu_icon {
    width:20px;
    position:absolute;
    top: 10px;
    right:10px 

}
.posts li .menu {
    position:absolute;
    top:40px;
    right:15px;
    border:1px  solid #ccc;
    background-color:white;
    padding: 10px 15 px;
    font-size: 13px;
    border-radius: 3px;
    display:none;

}
.posts li .menu a {
    text-decoration: none;
}
#pic {
    height: 250px;
    width:250px;
}
.like img{
    width: 23px;
}
.like{
    display: flex;
    align-items: baseline;
}